.menu-admin {
    width: 100%;
    height: calc(100vh - 76px);
    max-height: 100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    //border-right: 1px solid rgba($color: #343A40, $alpha: .2);

    &__info {
        width: 100%;
        font-size: 1.1rem;
        color: #000;
        text-align: left;
        padding-top: .6rem;
        border-left: 4px solid transparent;

        &:hover {
            cursor: pointer;
            background-color: #f4f4f4;
            border-left: 4px solid #04146F;
        }


        &::after {
            content: '';
            width: 80%;
            height: 1px;
            background-color: rgba($color: #343A40, $alpha: .2);
            display: block;
            margin: 0 auto;
            margin-top: .6rem;
        }
    }

    &__menu-item {
        max-width: 100%;
        font-size: 1.2rem;
        color: #fff;
        position: relative;

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, .2);
        }
    }

    &__item-name {
        margin-left: 2rem;
    }
}